{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% load static %}
{% load sass_tags %}

{% block title %}
{{ user.username }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="{% sass_src 'css/boxes.scss' %}">
{% endblock %}

{% block content %}

<div class="container">
    <h1>HomeRate</h1>

    <div>
        <h2>Saved Houses</h2>
        <ul>
        {% for house in saved_houses %}

            <li><a href="{% url 'house' id=house.id %}">{{ house.split_address.line1 }}</a></li>

        {% endfor %}
        </ul>
    </div>

    <div> <!-- settings area-->
        <h2> Settings and Preferences</h2>
        <div class="settingsContainer">

            <div class="settings" id="weightings">
                <h3> Star Rating Weightings</h3>
                <p> Customise how houses are rated to suit your wants.</p>
                <form method="POST" class="form", action="{% url 'profile' %}#weightings">{% csrf_token %}
                    {{ weights_form.as_p }}
                    <div>
                        <button type="submit" class="button">Save</button>
                    </div>
                </form>
            </div>

            <div class="settings" id="postcode">
                <h3> University postcode </h3>
                <p> Get travel times to and from your university. </p>
                <form method="POST" class="form postcode" action="{% url 'profile' %}#postcode">{% csrf_token %}
                    {{ postcode_form.as_p }}
                    <div>
                        <button type="submit" class="button" id="postcodeSubmit">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.barrating.min.js' %}"></script>
<script src="{% static 'js/profiles.js' %}"></script>


{% endblock %}