/* General Styles */
body {
	font-family: Arial;
}

ul {
	list-style: none;
	padding: 0;
}

/* House Page */

.reviews h2 {
	margin-right: 5px;
	margin-bottom: 0;
	display: inline-block;
}

.addReview.button {
	display: inline-block;
}

.review:first-child {
	border-top: solid 1px #ddd;
}

.review {
	border-bottom: solid 1px #ddd;
}

/* New Report Page */
.address {
	margin-bottom: 20px;
	padding-bottom: 30px;
	font-size: 22px;
	font-weight: bold;
	color: #444;
	border-bottom: solid 1px #ddd;
}

.form {
	max-width: 400px;
}

.form label {
	margin-bottom: 10px;
	font-weight: bold;
	display: block;
}

.form textarea {
	height: 70px;
}

.form input[type=text], .form input[type=number], .form button {
	padding: 10px;
}