/* General Styles */
body {
	background: #f6f8fa;
	font-family: Arial;
}

ul {
	list-style: none;
	padding: 0;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.button {
	padding: 10px 15px;
	background: #333;
	color: #fff;
	text-decoration: none;
	transition: opacity 0.1s ease-in-out;
}

.button:hover {
	opacity: 0.7;
}

.button:active {
	opacity: 1;
	transform: translateY(1px);
}

/* Site homepage */
.searchBox {
	width: 250px;
	margin-bottom: -1px;
	padding: 10px;
	font-size: 18px;
}

.searchBox:focus {
	outline: none;
}

.houses {
	margin-top: 0;
}

.house {
	width: 252px;
	padding: 10px;
	margin: -1px 0 0 0;
	background: #f6f6f6;
	border: solid 1px #eee;
	border-collapse: collapse;
	cursor: pointer;
	display: none;
}

.house a {
	color: #333;
	text-decoration: none;
}

.house:hover {
	background: #fff;
	font-weight: bold;
}

/* House Page */

.houseHeader * {
	margin-right: 15px;
	display: inline-block;
}

.averageStars {
	padding: 10px;
	background: gold;
}

.reviews h2 {
	margin-right: 5px;
	margin-bottom: 0;
	display: inline-block;
}

.addReview.button {
	display: inline-block;
}

.review:first-child {
	border-top: solid 1px #ddd;
}

.review {
	border-bottom: solid 1px #ddd;
}

.basicInfo {
	padding: 20px;
	background: #fff;
	border-radius: 8px;
	text-align: center;
}

.infoItem {
	padding: 0 40px;
	display: inline-block;
}

.basicInfo .icon {
	width: 50px;
	display: inline-block;
	vertical-align: middle;
}

.basicInfo .value {
	margin-left: 10px;
}

/* New Report Page */
.address {
	margin-bottom: 20px;
	padding-bottom: 30px;
	font-size: 22px;
	font-weight: bold;
	color: #444;
	border-bottom: solid 1px #ddd;
}

.form {
	max-width: 400px;
}

.form label {
	margin-bottom: 10px;
	font-weight: bold;
	display: block;
}

.form textarea {
	height: 70px;
}

.form input[type=text], .form input[type=number], .form button {
	padding: 10px;
}