/* General Styles */
@import url(../fonts/circular.css);

$backgroundColour: #f6f8fa;
$darkerBackgroundColour: #f0f3f7;
$mainTextColour: #313951;
$midText: #657180;
$lightestText: #8b9bb1;
$cornerRadius: 8px;
$shadowColour: #576f92;
$borderColour: #d8e4ea;
$buttonColour: $mainTextColour;
$containerWidth: 960px;
$errorText: darkred;

body {
  background: $backgroundColour;
  color: $mainTextColour;
  font-family: 'Circular Std', 'Source Sans Pro', Arial, sans-serif;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h4 {
  font-weight: 500;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: $containerWidth;
  margin: 0 auto;
  padding: 0 5%;
}

@mixin button() {
  padding: 10px 15px;
  background: $buttonColour;
  color: #fff;
  font-family: 'Circular Std', 'Source Sans Pro', Arial, sans-serif;
  border: none;
  border-radius: $cornerRadius / 2;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;

  &:hover {
    color: #fff;
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
    transform: translateY(1px);
  }
}

.button {
  @include button
}

$logoHeight: 30px;
$barHeight: 38px;

.content {
  padding-top: $barHeight + 25px;
}

.topBar {
  width: 100%;
  position: fixed;
  top: 0;
  height: $barHeight;
  padding: 8px 0;
  background: #fff;
  z-index: 100;

  $searchFontSize: 14px;

  .searchWrap {
    max-width: 50%;
    min-width: 240px;
    margin: 0 10px;
    font-size: $searchFontSize;
    display: inline-block;

    input {
      margin-top: 0;
      padding: 10px 10px;
      background: $darkerBackgroundColour;
      font-size: $searchFontSize;
      box-shadow: none;

      &:hover, &:focus {
        box-shadow: 0 0 0 1px $borderColour;
      }

      &:focus {
        background: darken($darkerBackgroundColour, 1%);
      }
    }
  }
}

.logoWrap {
  margin-top: 4px;
  float: left;
  display: block;
}

.logoWrap, .topBarUser {
  display: inline-block;
  vertical-align: middle;
}

.topBarLogo {
  height: $logoHeight;
  margin: 0;
}

.topBarUser {
  margin-top: 9px;
  float: right;

  a {
    height: $logoHeight;
    color: $midText;
  }
}

a {
  color: $midText;
  text-decoration: none;
  transition: color 0.15s ease-in-out;
  display: inline-block;

  &:hover {
    color: $lightestText;
  }

  &:active {
    transform: translateY(1px);
  }
}

.br-wrapper a:active {
  transform: translateY(0);
}

/* Site homepage */
.fade {
  width: 100%;
  height: 30%;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 100;
  background: linear-gradient(180deg, rgba(246,248,250,0) 0%, rgba(246,248,250,1) 100%);
}

.homepage {

  .topBar {

    .logoWrap {
      margin-left: -7px;
    }

  }

  .homepageHeader {
    // margin-top: 100px;
    margin-top: 180px;
    text-align: left;
  }

  .title {
    margin-bottom: 10px;
    font: {
      size: 3em;
      weight: 600;
    }
  }

  .tagline {
    margin-top: 0;
    color: lighten($mainTextColour, 20%);
    font-size: 1.5em;
  }

  .errorMessage {
    display: none;
  }

  .searchWrap {
    width: 100%;
    margin: 0;
    max-width: 100%;
    position: relative;
  }

  .autocomplete {
    position: absolute;
  }

  .siteDetails {
    margin-top: 200px;
    padding-top: 50px;
    padding-bottom: 250px;
    border-top: solid 1px $borderColour;

    .sectionHeading {
      margin-bottom: 30px;
      text-align: left;
    }
  }

  .detailModules {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .detailModule {
    width: 30%;
    min-width: 200px;
    vertical-align: top;
    text-align: left;
    border-radius: $cornerRadius;
    box-shadow: 0 5px 15px rgba($shadowColour, 0.15);

    img {
      width: 100%;
    }

    .text {
      margin-top: -4px;
      padding: 20px 25px 30px 25px;
      background: #fff;
      box-sizing: border-box;
    }

    .heading {
      margin-top: 0;
      margin-bottom: 5px;
    }

    .explanation {
      margin: 0;
      line-height: 150%;
      color: $midText;
    }
  }
}

@mixin textInput($padding) {
  padding: $padding;
  font-size: 18px;
  border: none;
  border-radius: $cornerRadius;
  box-shadow: 0 2px 8px rgba($shadowColour, 0.08);
  transition: box-shadow 0.1s ease-in-out;

  &:hover {
    box-shadow: 0 5px 8px rgba($shadowColour, 0.1);
  }

  &:focus {
    outline: none;
    box-shadow: 0 5px 10px rgba($shadowColour, 0.1), 0 0 0 1px $borderColour;
  }
}

$searchBoxWidth: 700px;
$searchPadding: 20px;

.searchWrap {
  max-width: $searchBoxWidth;
  margin: 0 auto;
  width: 80%;
}

.searchBox {
  @include textInput($searchPadding);
  width: 100%;
  margin-bottom: -1px;
  box-sizing: border-box;

  &::placeholder {
    color: $midText;
  }
}

.autocomplete {
  width: 100%;
  position: relative;
  max-height: 210px;
  margin: 20px auto 30px auto;
  box-sizing: border-box;
  border-radius: $cornerRadius;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 5px 8px rgba($shadowColour, 0.1);
  transition: opacity 0.1s ease-in-out;
  z-index: 1000;

  .entry {
    width: 100%;
    margin: -1px auto 0 auto;
    background-color: #fff;
    transition: background-color 0.15s ease-in-out;

    &:last-child {
      border-radius: 0 0 $cornerRadius $cornerRadius;
    }

    &:hover {
      background-color: $darkerBackgroundColour;
      font-weight: 600;
    }

    a {
      width: 100%;
      padding: $searchPadding;
      border-collapse: collapse;
      box-sizing: border-box;
      cursor: pointer;
      text-align: left;
      display: block;
      color: $mainTextColour;
      text-decoration: none;
    }
  }
}

/* House Page */

.mainContent, .extraContent {
  display: inline-block;
  vertical-align: top;
}

.mainContent {
  max-width: 0.62 * $containerWidth;
  width: 100%;
  margin-right: 15px;
}

.extraContent {
  max-width: 0.35 * $containerWidth;
  padding-bottom: 10px;
  margin-bottom: 40px;
  background-color: $darkerBackgroundColour;
  margin-left: 1%;
}

.houseInfo {
  margin-bottom: 15px;
  border-bottom: solid 1px $borderColour;
  padding-bottom: 10px;
}

.houseHeader {

  .houseAddress {
    margin: 0 10px 0 0;
    font-size: 32px;
  }

  .houseLocation, .averageStars, .br-wrapper {
    display: inline-block;
    vertical-align: middle;
  }

  .savedHouseAction {
    margin-left: 6px;
    font-size: 24px;
    color: $mainTextColour;

    &:hover {
      color: $midText;
    }
  }

  .averageStars.noRatings {
    display: none;
  }

  .houseLocation {
    margin-top: 15px;
    margin-top: 15px;
    color: $lightestText;
  }

  .br-wrapper {
    margin-left: 5px;
    margin-top: 5px;
  }

  .br-theme-fontawesome-stars .br-widget a {
    font: normal normal normal 23px/1 FontAwesome;
  }

  a {
    cursor: pointer;
  }
}

.averageStars {
  padding: 10px;
  font-weight: normal;
  background: gold;
  border-radius: $cornerRadius / 2;
}

.overallRatings {
  padding-bottom: 10px;
  border-bottom: solid 1px $borderColour;
}

.overallRatings h2 {
  margin-right: 10px;
  margin-bottom: 20px;
  font-weight: 500;
  display: inline-block;
}

.review .averageStars {
  margin-left: 10px;
}

.addReview.button {
  display: inline-block;
}

.infoItem {
  padding-right: 20px;
  display: inline-block;
}

.basicInfo {
  margin-top: 2px;
  border-radius: $cornerRadius;
  color: $midText;

  .icon {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
  }

  .value {
    margin-left: 10px;
    font: {
      weight: 600;
    }
  }

  .unavailable {
    font-size: 16px;
  }

  .ratingItem {
    display: inline-block;
    width: 30%;
  }
}

.customisationIcon {
  vertical-align: middle;
  font-size: 16px;
}

.commuteTime .customisationIcon {
  margin: 1px 0 0 2px;
  vertical-align: top;
}

/* House Page: Gallery */

.slick-initialized .slick-track {
  max-height: 500px;
  display: flex;
  align-items: center;
}

.galleryWrapper {
  max-width: 960px;
  width: 100%;
  margin: 30px auto;

  &.empty {
    margin: 15px;
  }

  .slick-prev:before, .slick-next:before {
    color: $mainTextColour;
  }
}

/* House Page: Reviews */

.review {
  padding: 30px 0 0 0;
  border-bottom: solid 1px $borderColour;

  &:first-child {
    padding: 10px 0 0 0;
  }
}

.reviewHeader {
  i {
    margin-right: 12px;
    font-size: 48px;
  }
  i, .text {
    display: inline-block;
    vertical-align: middle;
  }
  .reviewAuthor {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .br-wrapper, .reviewActions {
    display: inline-block;
    vertical-align: middle;
  }

  .reviewActions {
    margin-top: -11px;
    a {
      padding: 0 4px;
    }
  }
}

.reviewCategory {
  margin-bottom: 0px;

  &:last-child {
    .reviewComment {
      margin-bottom: 0;
    }
  }
}

.reviewCategoryName {
  margin-bottom: 15px;
  font-weight: 500;
  i {
    margin-right: 5px;
  }
}

.reviewPoint, .reviewComment {
  color: $midText;
  font-size: 14px
}

.reviewPoint {
  width: 280px;
  margin-bottom: 5px;
  display: inline-block;
  vertical-align: middle;

  &:nth-child(odd) {
    margin-right: 30px;
  }

  .label, .br-wrapper {
    display: inline-block;
    vertical-align: middle;
  }

  .label {
    margin-top: 0;
    margin-right: 20px;
  }

  .br-wrapper, .value {
    float: right;
  }

  .value {
    margin-top: 0;
  }
}

.reviewComment {
  margin-top: 5px;
  padding: $searchPadding;
  background: #fff;
  border-radius: $cornerRadius;
  box-shadow: 0 3px 5px rgba($shadowColour, 0.1);

  &:empty {
    display: none;
  }
}

.review .flaggedReportAction {
  padding: 25px 0 30px 0;
  cursor: pointer;

  .message {
    margin-left: 7px;
  }
}

/* House Page: Information Modules */
.map img {
  width: 100%;
}

.infoModule {
  padding: 10px 20px 0 20px;

  &:first-child {
    padding-top: 20px;
  }

  .title {
    margin-top: 0;
    margin-bottom: 0;
    font: {
      size: 18px;
      weight: 500;
    }
  }

  i {
    width: 20px;
    margin-right: 7px;
    text-align: center;
  }

  ul {
    margin-top: 3px;
    margin-bottom: 5px;
  }

  li {
    padding: 10px 0;
  }

  strong {
    font-weight: 500;
  }

  .shops {
    list-style: none;
  }

}

.commuteTime {
  .postcodeForm, .description {
    display: none;
  }

  &.noPostcode {
    .postcodeForm, .description {
      display: block;
    }
    .title, .routes {
      display: none;
    }
  }

  label {
    display: none;
  }

  input::placeholder {
    font-size: 14px;
    line-height: 150%;
  }

  #id_postcode {
    width: 100%;
    box-sizing: border-box;
  }

  .description {
    margin-top: 0;
  }

  .button {
    width: 100%;
  }

  .submitWrap {
    margin-bottom: 5px;
    text-align: right;
  }
}

/* New Report Page */

.newReview {
  h1 {
    padding-top: 20px;
    margin-bottom: 0;
    font-weight: 500;
  }
  .address {
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 400;
    color: $midText;
    // border-bottom: solid 1px $borderColour;
  }
}

.newReview .warningMessage {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  background: $darkerBackgroundColour;
  border-radius: $cornerRadius;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: center;

  i {
    font-size: 22px;
  }

  p {
    margin: 0;
    text-align: left;
  }
}

.reviewForm {
  max-width: 750px;
  padding-top: 10px;
  margin-bottom: 40px;
  display: inline-block;
  vertical-align: top;

  .formSection {
    padding: 30px 0;
    border-bottom: solid 1px $borderColour;

    &.roomInfo {
      padding-top: 10px;
      margin-bottom: 15px;
    }

    &.images {
      margin-bottom: 30px;
    }
  }

  .reviewItem {
    margin-bottom: 20px;
  }

  .reviewItem.stars {
    width: 350px;
    margin-right: 0;
    display: inline-block;

    &:nth-child(odd) {
      margin-right: 30px;
    }

    .label {
      margin-right: 15px;
    }
    .label, .br-wrapper {
      display: inline-block;
      vertical-align: middle;
    }
    .br-wrapper {
      float: right;
    }
  }

  .reviewItem.image {
    display: none;
    &:first-child {
      display: block;
    }
    input {
      margin: 0 0 10px -3px;
    }
  }

  .reviewItem .text, .reviewItem i {
    display: inline-block;
    vertical-align: middle;
  }

  .reviewItem .text .optional {
    margin: 10px 0 0 0;
    font-size: 12px;
    text-transform: uppercase;
    color: $lightestText;
  }

  h3 {
    max-width: 300px;
    margin-bottom: 30px;
    i {
      margin-right: 12px;
    }
  }

  i {
    margin-right: 5px;
  }

  div.label {
    margin-bottom: 10px;
    color: $midText
  }

  label {
    margin-bottom: 10px;
    font-weight: 500;
  }

  textarea {
    width: 100%;
    height: 120px;
    font-size: 14px;
    box-sizing: border-box;
    resize: none;
  }

  .addComment {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    display: block;
    // color: $mainTextColour;
    text-align: center;
  }

  .addImage {
    margin-top: 10px;
    cursor: pointer;
  }

  .commentWrapper {
    display: none;

    input {
      width: 100%;
      max-width: 400px;
      font-size: 14px;
    }
  }

  .roomInfo, .movingDates, .affordability {
    width: 100%;

    .reviewItem {
      margin-right: 30px;
      display: inline-block;
    }

    .reviewItem:last-child {
      margin-right: 0;
    }
  }

  .roomInfo input {
    width: 70px;
  }

  .movingDates input {
    width: 120px;
  }

  .affordability input {
    width: 70px
  }

  .save.button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    display: block;
  }
}

.edit {
  .images.formSection, .addComment {
    display: none;
  }
  .commentWrapper {
    display: block;
  }
}

input[type=email], input[type=text], input[type=number], input[type=password], textarea {
  @include textInput(20px);
}

/* Sign-up Form */
.accounts {

  &.container {
    margin-top: 80px;
    padding-bottom: 10%;
  }

  h2 {
    margin-bottom: 30px;
    text-align: center;
  }

  .alert {
    padding-bottom: 20px;
    text-align: center;
    color: $errorText;
  }
}

form.accounts {
  width: 300px;
  margin: 0 auto;

  .entry {
    margin-bottom: 20px;
  }
  label {
    margin-bottom: 10px;
    color: $midText;
    font-weight: 400;
    text-transform: capitalize;
    display: block;
  }
  p {
    width: 100%;
  }
  input {
    width: 100%;
    box-sizing: border-box;
  }
  ul {
    //display: none;
  }
  .far {
    margin-right: 5px;
    display: inline-block;
  }
  button {
    width: 100%;
    height: 50px;
    padding: 20px;
    font: {
      size: 16px;
      weight: 600;
    }
    @include button
  }
}

/* Profiles styling*/
.settingsContainer {

}

.settings {
  padding: 20px;
  margin: 10px;
  background: $darkerBackgroundColour;
  border-radius: 8px;
  text-align: left;

  h3 {
    margin: 0 0 5px 0;
  }

  & > p {
    margin: 0 0 20px 0;
    padding-bottom: 20px;
    border-bottom: solid 1px $borderColour;
  }

  label {
    padding-bottom: 10px;
    display: block;
  }

  form {
    width: 100%;
    max-width: 100%;
    margin-top: 4px;
    p {
      width: 48%;
      min-width: 220px;
      margin-top: 10px;
      display: inline-block;
      border-bottom: none;
    }
    div {
      text-align: right;
    }
  }

  button {
    font-size: 16px;

    i {
      margin-right: 5px;
    }
  }
}

.button.red {
  background: #ff4444;
}

.savedHouse {
  width: 30%;
  min-width: 230px;
  margin: 10px;
  overflow: hidden;
  display: inline-block;
  background: #f9fafc;
  border-radius: $cornerRadius;
  vertical-align: top;
  transition: box-shadow 0.15s ease-in-out;
  img {
    width: 100%;
  }

  .caption {
    padding: 15px 20px 20px 20px;
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
    .postcode {
      margin-top: 6px;
      margin-bottom: 12px;
    }
    .br-wrapper {
      margin-bottom: 10px;
    }
  }
;
  .postcode {
    opacity: 0.7;
    margin-bottom: 8px;
  }
  .houseLink {
    height: 100%
  }
  &:hover {
    box-shadow: 0px 5px 10px rgba($shadowColour, 0.15);
  }
}

.myReport {
  width: 31.5%;
  min-width: 180px;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  background: #f9fafc;
  border-radius: $cornerRadius;
  box-sizing: border-box;
  margin: 7px 1% 7px 0;
  transition: box-shadow 0.15s ease-in-out;
  &:hover {
    box-shadow: 0px 1px 10px rgba($shadowColour, 0.15);
  }
  .house {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .dates {
    margin-bottom: 0;
    font-size: 0.7em;
  }
  .reportLink {
    width: 100%;
    height: 100%;
  }
}

.settings#account {
  .button {
    margin: 20px 20px 20px 0;
  }
}
