/* General Styles */
@import url(../fonts/circular.css);

$backgroundColour: #f6f8fa;
$darkerBackgroundColour: #f0f3f7;
$mainTextColour: #313951;
$midText: #657180;
$lightestText: #8b9bb1;
$cornerRadius: 8px;
$shadowColour: #576f92;
$borderColour: #d8e4ea;
$buttonColour: $mainTextColour;
$containerWidth: 960px;
$errorText: darkred;

body {
  background: $backgroundColour;
  color: $mainTextColour;
  font-family: 'Circular Std', sans-serif;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h4 {
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: $containerWidth;
  margin: 0 auto;
  padding: 0 5%;
}

@mixin button() {
  padding: 10px 15px;
  background: $buttonColour;
  color: #fff;
  border: none;
  border-radius: $cornerRadius / 2;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
    transform: translateY(1px);
  }
}

.button {
  @include button
}

.topBar {
  height: 50px;
  padding: 10px 0;
  background: #fff;
}

$logoHeight: 45px;

.logoWrap {
  float: left;
  display: block;
}

.logoWrap, .topBarUser {
  display: inline-block;
  vertical-align: middle;
}

.topBarLogo {
  height: $logoHeight;
  margin: 0 5px;
}

.topBarUser {
  margin-top: 15px;
  float: right;
  font-size: 16px;

  a {
    height: $logoHeight;
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: #505050;
    text-decoration: none;
  }

  a:visited {
    color: black;
    text-decoration: none;
  }
}

a {
  color: $midText;
  text-decoration: none;
  transition: color 0.15s ease-in-out;
  display: inline-block;

  &:hover {
    color: $lightestText;
  }

  &:active {
    transform: translateY(1px);
  }
}

.br-wrapper a:active {
  transform: translateY(0);
}

/* Site homepage */
.homepage {
  text-align: center;

  .homepageHeader {
    margin-top: 100px;
  }

  .title {
    margin-bottom: 10px;
    font: {
      size: 3em;
      weight: 600;
    }
  }

  .tagline {
    margin-top: 0;
    color: lighten($mainTextColour, 20%);
    font-size: 1.5em;
  }

  .errorMessage {
    display: none;
  }
}

@mixin textInput($padding) {
  padding: $padding;
  font-size: 18px;
  border: none;
  border-radius: $cornerRadius;
  box-shadow: 0 2px 8px rgba($shadowColour, 0.08);
  transition: box-shadow 0.1s ease-in-out;

  &:hover {
    box-shadow: 0 5px 8px rgba($shadowColour, 0.1);
  }

  &:focus {
    outline: none;
    box-shadow: 0 5px 10px rgba($shadowColour, 0.1), 0 0 0 1px $borderColour;
  }
}

$searchBoxWidth: 700px;
$searchPadding: 20px;

.searchWrap {
  max-width: $searchBoxWidth;
  margin: 0 auto;
  width: 80%;
}

.searchBox {
  @include textInput($searchPadding);
  width: 100%;
  margin-bottom: -1px;
  box-sizing: border-box;

  &::placeholder {
    color: $midText;
  }
}

.autocomplete {
  width: 100%;
  max-height: 210px;
  // visibility: hidden;
  margin: 20px auto 30px auto;
  box-sizing: border-box;
  border-radius: $cornerRadius;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 5px 8px rgba($shadowColour, 0.1);
  transition: opacity 0.1s ease-in-out;

  .entry {
    width: 100%;
    margin: -1px auto 0 auto;
    background-color: #fff;
    transition: background-color 0.15s ease-in-out;

    &:last-child {
      border-radius: 0 0 $cornerRadius $cornerRadius;
    }

    &:hover {
      background-color: rgba(#fff, 0.5);
      font-weight: 600;
      font-size: 16px;
    }

    a {
      width: 100%;
      padding: $searchPadding;
      border-collapse: collapse;
      box-sizing: border-box;
      cursor: pointer;
      text-align: left;
      display: block;
      color: $mainTextColour;
      text-decoration: none;
    }
  }
}

/* House Page */

.mainContent, .extraContent {
  display: inline-block;
  vertical-align: top;
}

.mainContent {
  max-width: 0.62 * $containerWidth;
  width: 100%;
}

.extraContent {
  max-width: 0.35 * $containerWidth;
  padding-bottom: 10px;
  margin-bottom: 40px;
  background-color: $darkerBackgroundColour;
  margin-left: 1%;
}

.houseInfo {
  margin-bottom: 15px;
  border-bottom: solid 1px $borderColour;
  padding-bottom: 10px;
}

.houseHeader {

  .houseAddress {
    margin: 0 10px 0 0;
    font-size: 32px;
  }

  .houseLocation, .averageStars, .br-wrapper {
    display: inline-block;
    vertical-align: middle;
  }

  .houseLocation {
    margin-top: 15px;
    color: $lightestText;
  }

  .br-wrapper {
    margin-left: 5px;
    margin-top: 5px;
  }
}

.averageStars {
  padding: 10px;
  font-weight: normal;
  background: gold;
  border-radius: $cornerRadius / 2;
}

.reviews h2 {
  margin-right: 5px;
  margin-bottom: 0;
  font-weight: 500;
  display: inline-block;
}

.review .averageStars {
  margin-left: 10px;
}

.addReview.button {
  display: inline-block;
}

.infoItem {
  padding-right: 20px;
  display: inline-block;
}

.basicInfo {
  margin-top: 2px;
  border-radius: $cornerRadius;
  color: $midText;

  .icon {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
  }

  .value {
    margin-left: 10px;
    font: {
      weight: 600;
    }
  }
}

/* House Page: Gallery */
.galleryWrapper {
  max-width: 900px;
  margin: 30px auto;

  .slick-prev:before, .slick-next:before {
    color: $mainTextColour;
  }
}

.slick-track {
  max-height: 400px;
  overflow: hidden;
}

/* House Page: Reviews */

.review {
  padding: 30px 0;
  border-bottom: solid 1px $borderColour;

  &:first-child {
    padding: 10px 0;
  }
}

.reviewHeader {
  i {
    margin-right: 12px;
    font-size: 48px;
  }
  i, .text {
    display: inline-block;
    vertical-align: middle;
  }
  .reviewAuthor {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .br-wrapper, .reviewActions {
    display: inline-block;
    vertical-align: middle;
  }

  .reviewActions {
    margin-top: -11px;
    a {
      padding: 0 4px;
    }
  }
}

.reviewCategory {
  margin-bottom: 0px;

  &:last-child {
    margin-bottom: 10px;
  }
}

.reviewCategoryName {
  margin-bottom: 15px;
  font-weight: 500;
  i {
    margin-right: 5px;
  }
}

.reviewPoint, .reviewComment {
  color: $midText;
  font-size: 14px
}

.reviewPoint {
  width: 320px;
  margin-bottom: 5px;
  display: inline-block;
  vertical-align: middle;

  &:nth-child(odd) {
    margin-right: 30px;
  }

  .label, .br-wrapper {
    display: inline-block;
    vertical-align: middle;
  }

  .label {
    margin-top: 0;
    margin-right: 20px;
  }

  .br-wrapper, .value {
    float: right;
  }

  .value {
    margin-top: 0;
  }
}

.reviewComment {
  margin-top: 5px;
  padding: $searchPadding;
  background: #fff;
  border-radius: $cornerRadius;
  box-shadow: 0 3px 5px rgba($shadowColour, 0.1);

  &:empty {
    display: none;
  }
}

/* House Page: Information Modules */
.map img {
  width: 100%;
}

.infoModule {
  padding: 10px 20px 0 20px;

  &:first-child {
    padding-top: 20px;
  }

  .title {
    margin-top: 0;
    margin-bottom: 0;
    font: {
      size: 18px;
      weight: 500;
    }
  }

  i {
    width: 20px;
    margin-right: 7px;
    text-align: center;
  }

  ul {
    margin-top: 3px;
    margin-bottom: 5px;
  }

  li {
    padding: 10px 0;
  }

  strong {
    font-weight: 500;
  }

  .shops {
    list-style: none;
  }

}

.commuteTime {
  .postcodeForm, .description {
    display: none;
  }

  &.noPostcode {
    .postcodeForm, .description {
      display: block;
    }
    .title, .routes {
      display: none;
    }
  }

  label {
    display: none;
  }

  input::placeholder {
    font-size: 14px;
    line-height: 150%;
  }

  #id_postcode {
    width: 100%;
    box-sizing: border-box;
  }

  .description {
    margin-top: 0;
  }

  .button {
    width: 100%;
  }

  .submitWrap {
    margin-bottom: 5px;
    text-align: right;
  }
}

/* New Report Page */
.address {
  margin-bottom: 20px;
  padding-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
  color: #444;
  border-bottom: solid 1px $borderColour;
}

.form {
  max-width: 400px;

  label {
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
  }

  textarea {
    height: 70px;
  }

  input[type=text], input[type=number], button {
    // padding: 10px;
  }
}

input[type=email], input[type=text], input[type=number], input[type=password] {
  @include textInput(20px);
}

/* Sign-up Form */
.accounts {

  &.container {
    margin-top: 80px;
    padding-bottom: 10%;
  }

  h2 {
    margin-bottom: 30px;
    text-align: center;
  }

  .alert {
    padding-bottom: 20px;
    text-align: center;
    color: $errorText;
  }
}

form.accounts {
  width: 300px;
  margin: 0 auto;

  .entry {
    margin-bottom: 20px;
  }
  label {
    margin-bottom: 10px;
    color: lighten($mainTextColour, 20%);
    font-weight: 600;
    text-transform: capitalize;
    display: block;
  }
  p {
    width: 100%;
  }
  input {
    width: 100%;
    box-sizing: border-box;
  }
  ul {
    display: none;
  }
  .helptext {
    display: none;
  }
  button {
    width: 100%;
    height: 50px;
    padding: 20px;
    font: {
      size: 16px;
      weight: 600;
    }
    @include button
  }
}

/* Profiles styling*/
.settingsContainer {

}

.settings {
  padding: 20px;
  margin: 10px;
  background: $darkerBackgroundColour;
  border-radius: 8px;
  text-align: left;

  h3, p {
    margin: 0px;
  }
  form {
    width: 100%;
    max-width: 100%;
    margin-top: 4px;
    p {
      margin: 4px;
      width: 48%;
      display: inline-block;
    }
    div {
      text-align: right;
    }
  }
}


