$backgroundColour: #f6f8fa;
$darkerBackgroundColour: #f0f3f7;
$mainTextColour: #313951;
$midText: #657180;
$lightestText: #8b9bb1;
$cornerRadius: 8px;
$shadowColour: #576f92;
$borderColour: #d8e4ea;
$buttonColour: $mainTextColour;
$containerWidth: 960px;
$errorText: darkred;

.br-theme-bars-square .br-widget {
  height: 15px;
  white-space: nowrap;
}
.br-theme-bars-square .br-widget a {
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  background: $lightestText;
  border: 2px solid $lightestText;
  color: lighten($lightestText, 25%);
  margin: 0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
  text-align: center;
}
.br-theme-bars-square .br-widget a.br-active,
.br-theme-bars-square .br-widget a.br-selected {
  background: $mainTextColour;
  border: 2px solid $mainTextColour;
  color: #fff;
}
.br-theme-bars-square .br-widget .br-current-rating {
  clear: both;
  width: 330px;
  text-align: center;
  font-weight: 600;
  display: block;
  padding: .5em 0;
  color: #646464;
}
.br-theme-bars-square .br-readonly a {
  cursor: default;
}
.br-theme-bars-square .br-readonly a.br-active,
.br-theme-bars-square .br-readonly a.br-selected {
  background: $lightestText;
  border: 2px solid $lightestText;
  color: lighten($lightestText, 25%);
}
@media print {
  .br-theme-bars-square .br-widget a {
    border: 2px solid #b3b3b3;
    color: #b3b3b3;
  }
  .br-theme-bars-square .br-widget a.br-active,
  .br-theme-bars-square .br-widget a.br-selected {
    border: 2px solid black;
    color: black;
  }
}
