{% load staticfiles %}
{% load sass_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} SITE NAME {% endblock %}</title>
	<link rel="stylesheet" href="{% sass_src 'css/base.scss' %}"/>

    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="topBar">
        <div class="container">
            <a class="logoWrap" href="/"><img class="topBarLogo" src="{% static 'img/logo.png' %}"></a>
            <div class="topBarUser">
                {% if user.is_authenticated %}
                <a href="{% url 'profile' %}"> Hi, {{ user.first_name }} </a>
                <a> - </a>
                <a href="{% url 'logout' %}?next={{request.path}}"> Logout </a>
                {% else %}
                <a href="{% url 'login' %}?next={{request.path}}"> Login </a>
                <a> - </a>
                <a href="{% url 'sign-up' %}"> Sign-up </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
