{% extends 'homepage/base.html' %}

{% block title %}
HomeRate | Surprise-free Renting
{% endblock %}
{% block content %}

<div class="container">
    <h1>HomeRate</h1>

    <p>Taking the nasty surprises out of renting.</p>

    <input type="text" class="searchBox"/>

    <ul class="houses">
    {% for house in houses %}
        <li class="house"><a href="{% url 'house' house.id %}">{{ house }}</a></li>
    {% endfor %}
    </ul>

    <a href="/reviews/new_house">Add A New House?</a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
<script>
(function($) {
	$(".searchBox").keyup(function() {
		var query = $(this).val();

        var postCode = new RegExp('(GIR ?0AA|[A-PR-UWYZ]([0-9]{1,2}|([A-HK-Y][0-9]([0-9ABEHMNPRV-Y])?)|[0-9][A-HJKPS-UW]) ?[0-9][ABD-HJLNP-UW-Z]{2})', 'i');

        if (postCode.test(query)) {

        }
		if (query == "") {
			$(".house").hide();
		} else {
			$("ul li:contains('" + query + "')").show();
			$("ul li").not(":contains('" + query + "')").hide();
		}
	});
	$("li").click(function() {
		window.location.href = $(this).children("a").attr("href");
	});
})(jQuery);
</script>

{% endblock %}