{% extends 'homepage/base.html' %}
{% load static %}

{% block title %}
HomeRate | Surprise-free Renting
{% endblock %}

{% block bodyClass %}homepage{% endblock %}

{% block content %}

{% block universalSearchBar %}
{% endblock %}

<div class="container homepage">

    <header class="homepageHeader">
        <h1 class="title">Surprise-free Renting</h1>
        <p class="tagline">Read reviews of student houses, written by previous tenants.</p>
    </header>

    <div class="searchWrap">
        <input placeholder="Enter a postcode (e.g. SW7 2AZ)" type="text" class="searchBox" maxlength="8"/>
        <p class="errorMessage"></p>
        <ul class="autocomplete"></ul>
    </div>

    <section class="siteDetails">
        <h2 class="sectionHeading">How HomeRate makes renting better</h2>
        <div class="detailModules">
            <section class="detailModule">
                <img src="{% static 'img/clock.jpg' %}"/>
                <div class="text">
                    <h2 class="heading">15 minute viewings aren't enough</h2>
                    <p class="explanation">
                        With HomeRate, you have access to all the inside information needed to make a good decision - for as long as you like. Think it over, make the best choice for you.
                    </p>
                </div>
            </section>

            <section class="detailModule">
                <img src="{% static 'img/contract.jpg' %}"/>
                <div class="text">
                    <h2 class="heading">Don’t sign without doing your research</h2>
                    <p class="explanation">
                        Who better to know all the pitfalls of a property than someone who’s already lived there? With HomeRate, tenants have each other’s backs against unscrupulous landlords.
                    </p>
                </div>
            </section>

            <section class="detailModule">
                <img src="{% static 'img/bus.jpg' %}"/>
                <div class="text">
                    <h2 class="heading">We know what matters to you</h2>
                    <p class="explanation">
                        How long will it take to get to uni? What are the nearest tube stations? What's the landlord like? HomeRate puts all of this critical information at your fingertips.
                    </p>
                </div>
            </section>
        </div>

    </section>

</div>

{% block scripts %}
<script src="{% static 'js/homepage.js' %}"></script>
{% endblock %}

{% endblock %}
