{% extends 'homepage/base.html' %}
{% load static %}

{% block title %}
HomeRate | Surprise-free Renting
{% endblock %}
{% block content %}

<div class="container homepage">
    <header class="homepageHeader">
        <h1 class="title">Surprise-free Renting</h1>
        <p class="tagline">Read reviews of student houses, written by previous tenants.</p>
    </header>

    <input placeholder="Enter a postcode..." type="text" class="searchBox" maxlength="8"/>
    <p class="errorMessage"></p>

    <ul class="autocomplete">

    </ul>

    {% if user.is_authenticated %}
    <a href="/reviews/new_house">Add A New House?</a>
    {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{% static 'js/homepage.js' %}"></script>

{% endblock %}
