{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ house.addr }}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
</head>
<body class="housePage">

<section class="houseInfo">
    <h2>House Information</h2>
    <ul>
    <li><strong>Address:</strong> {{ house.address }}</li>
    <li><strong>House ID:</strong> {{ house.id }}</li>
    <li><strong>Date Created:</strong> {{ house.date_created }}</li>
    </ul>
</section>

<section class="reviews">
    <h2>Reviews</h2>
    <a class="addReview button" href="{% url 'new_report' house.id %}">+ Add a review</a>
    <ul class="reviewList">
    {% for review in reviews %}
        <li class="review">
            <h3>Tenant who moved in on {{ review.moved_in_date }}</h3>
            <p>{{ review.description }}</p>
            <h4>Pros</h4>
            <p>{{ review.pros }}</p>
            <h4>Cons</h4>
            <p>{{ review.cons }}</p>
            <p>Monthly Rent: £{{ review.monthly_cost }}</p>
        </li>
    {% endfor %}
    </ul>
</section>

</body>
</html>