{% extends 'homepage/base.html' %}
{% load staticfiles%}

{% block title %}
{{ house.address }}
{% endblock %}
{% block content %}
<div class="container">

<section class="houseInfo">
    <header class="houseHeader">
        <h2 class="houseAddress">{{ house.address }}</h2>
        <p class="averageStars">{{ rating }} stars</p>
        <a class="addReview button" href="{% url 'new_report' house.id %}">+ Add a review</a>
    </header>
    <ul class="basicInfo">
        <li class="infoItem">
            <img class="icon" src="{% static 'img/bed.svg' %}"/>
            <span class="value">{{ house.bedrooms }}</span>
        </li>
        <li class="infoItem">
            <img class="icon" src="{% static 'img/bath.svg' %}"/>
            <span class="value">{{ house.bathrooms }}</span>
        </li>
        <li class="infoItem">
            <img class="icon" src="{% static 'img/sofa.svg' %}"/>
            <span class="value">{{ house.living_rooms }}</span>
        </li>
    </ul>
</section>

<section class="reviews">
    <h2>Reviews</h2>
    <a class="addReview button" href="{% url 'new_report' house.id %}">+ Add a review</a>
    <ul class="reviewList">
    {% for review in reviews %}
        <li class="review">
            <h3>Tenant from {{ review.moved_in_date }} to {{ review.moved_out_date }}  <a class="averageStars">{{review.general_rating}} stars</a>
                {% if user == review.author %}
                <a href="{% url 'edit_report' id=review.pk %}">Edit</a>
                <a> - </a>
                <a href="{% url 'delete_report' id=review.pk %}">Delete</a>
                {% endif %} </h3>
            <ul class="reviewPoints">
                <li class="reviewPoint">
                    <p class="label">Landlord Responsiveness</p>
                    <p class="value">{{ review.landlord_responsiveness }}/5</p>
                </li>
                {{ review.landlord_responsiveness_comment|default_if_none:"" }}
                <li>

                </li>

                <li class="reviewPoint">
                    <p class="label">Repair Quality</p>
                    <p class="value">{{ review.repair_quality }}/5</p>
                </li>
                </li>
                    {{ review.repair_quality_comment|default_if_none:"" }}
                <li>

                <li class="reviewPoint">
                    <p class="label">Water Pressure</p>
                    <p class="value">{{ review.water_pressure }}/5</p>
                </li>
                                </li>
                {{ review.water_pressure_comment|default_if_none:"" }}
                <li>

                <li class="reviewPoint">
                    <p class="label">Utilities</p>
                    <p class="value">{{ review.utilities }}/5</p>
                </li>
                                </li>
                {{ review.utilities_comment|default_if_none:"" }}
                <li>

                <li class="reviewPoint">
                    <p class="label">Furniture Quality</p>
                    <p class="value">{{ review.furniture_quality }}/5</p>
                </li>
                </li>
                {{ review.furniture_quality_comment|default_if_none:"" }}
                <li>


                <li class="reviewPoint">
                    <p class="label">Mattress Quality</p>
                    <p class="value">{{ review.mattress_quality }}/5</p>
                </li>
                </li>
                {{ review.mattress_quality_comment|default_if_none:"" }}
                <li>

                <li class="reviewPoint">
                    <p class="label">Build Quality</p>
                    <p class="value">{{ review.build_quality }}/5</p>
                </li>
                </li>
                {{ review.landlord_responsiveness_comment|default_if_none:"" }}
                <li>

                <li class="reviewPoint">
                    <p class="label">Quietness</p>
                    <p class="value">{{ review.quietness }}/5</p>
                </li>
                                </li>
                {{ review.quietness_comment|default_if_none:"" }}
                <li>

                <li class="reviewPoint">
                    <p class="label">Pest/Insect-free</p>
                    <p class="value">{{ review.pest_free }}/5</p>
                </li>
                                </li>
                {{ review.pest_free_comment|default_if_none:"" }}
                <li>

                <li class="reviewPoint">
                    <p class="label">Smells</p>
                    <p class="value">{{ review.smells }}/5</p>
                </li>
                </li>
                {{ review.smells_comment|default_if_none:"" }}
                <li>

                <li class="reviewPoint">
                    <p class="label">Damp/Mould-free</p>
                    <p class="value">{{ review.damp_mould_free }}/5</p>
                </li>
                </li>
                {{ review.damp_mould_free_comment|default_if_none:"" }}
                <li>

                <li class="reviewPoint">
                    <p class="label">Monthly Rent</p>
                    <p class="value">£{{ review.monthly_rent }}</p>
                </li>

                <li class="reviewPoint">
                    <p class="label">Monthly Bills</p>
                    <p class="value">£{{ review.monthly_bills }}</p>
                </li>

            </ul>
        </li>
    {% endfor %}
    </ul>
</section>

</div>

{% endblock %}