{% extends 'homepage/base.html' %}
{% load staticfiles%}

{% block title %}
New Report
{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/stars.css' %}">
{% endblock %}
{% block content %}

<div class="container">
    <h1>Add New Review</h1>
    <p class="address">{{ house.address }}</p>
    <form method="POST" class="reviewForm form">{% csrf_token %}
        {{ house_details_form.as_p }}
        {{ new_report_form.as_p }}
        <button type="submit" class="save btn btn-default">Submit</button>
    </form>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'js/jquery.barrating.min.js' %}"></script>
<script type="text/javascript">
   $(function() {
      $('.starRating').barrating({
        theme: 'fontawesome-stars'
      });
   });
</script>


{% endblock %}