
{% extends "homepage/base.html" %}

{% block title %}
Already Signed In
{% endblock %}

{% block content %}
    <div class="container">
        <p class="message">You're already signed in! There's no need to sign up.</p>
                <p>You will be redirected in <span id="counter">3</span> seconds.</p>
    <script>
        setInterval(function() {
            var div = document.querySelector("#counter");
            var count = div.textContent * 1 - 1;
            div.textContent = count;
            if (count <= 0) {
                window.location.replace("/");
            }
        }, 1000);
    </script>
    </div>
{% endblock %}
