{% extends 'homepage/base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-oi8o31xSQq8S0RpBcb4FaLB8LJi9AT8oIdmS1QldR8Ui7KUQjNAnDlJjp55Ba8FG" crossorigin="anonymous">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container signup accounts">
        <h2>Sign up to see reviews now!</h2>

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <form class="signup accounts" method="post">
            {% csrf_token %}
            <div class="form entry">
                <label>{{ form.email.label }}</label>
                {{ form.email }}
                <p class="message"><i class="far fa-graduation-cap"></i> You must use an ac.uk email address</p>
            </div>
            <div class="form entry">
                <label>{{ form.first_name.label }}</label>
                {{ form.first_name }}
            </div>

            <div class="form entry">
                <label>{{ form.password1.label }}</label>
                {{ form.password1 }}
                <div class="passwordReqs">
                    {% for req in passwordReqs %}
                        <p class="requirement invalid {{ req.name }}">
                            <i class="far fa-times-circle"></i>
                            {{ req.text }}
                        </p>
                    {% endfor %}
                </div>
            </div>

            <div class="form entry">
                <label>{{ form.password2.label }}</label>
                {{ form.password2 }}
            </div>

            <button type="submit">Sign up</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}
