{% extends 'homepage/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container signup accounts">
        <h2>Sign up to see reviews now!</h2>

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <form class="signup accounts" method="post">
            {% csrf_token %}
            <div class="form entry">
                <label>{{ form.email.label }}</label>
                {{ form.email }}
            </div>
            <!--<p class="message">You must have a .ac.uk email</p>-->
            <div class="form entry">
                <label>{{ form.first_name.label }}</label>
                {{ form.first_name }}
            </div>

            <div class="form entry">
                <label>{{ form.password1.label }}</label>
                {{ form.password1 }}
            </div>

            <div class="form entry">
                <label>{{ form.password2.label }}</label>
                {{ form.password2 }}
            </div>

            <button type="submit">Sign up</button>
        </form>
    </div>
{% endblock %}
