
{% extends "homepage/base.html" %}

{% block title %}
Already Registered
{% endblock %}

{% block content %}
    <div class="container">
        <p class="message">An account has already been registered under the email address {{ username }}.</p>
                <p>You will be redirected in <span id="counter">6</span> seconds.</p>
    <script>
        setInterval(function() {
            var div = document.querySelector("#counter");
            var count = div.textContent * 1 - 1;
            div.textContent = count;
            if (count <= 0) {
                window.location.replace("/");
            }
        }, 1000);
    </script>
    </div>
{% endblock %}
